In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import requests
import json
url = 'https://language.googleapis.com/v1/documents:analyzeSentiment?key=AIzaSyBZOq4GtwZgyTKxtYinzFW7Zg_mYRoXpl0'

In [31]:
df = pd.read_csv('../Data/the-office-lines - scripts.csv')
df.head()

,id,season,episode,scene,line_text,speaker,deleted
0,1,1,1,1,All right Jim. Your quarterlies look very good...,Michael,False
1,2,1,1,1,"Oh, I told you. I couldn't close it. So...",Jim,False
2,3,1,1,1,So you've come to the master for guidance? Is ...,Michael,False
3,4,1,1,1,"Actually, you called me in here, but yeah.",Jim,False
4,5,1,1,1,"All right. Well, let me show you how it's done.",Michael,False

In [35]:
s1 = df.query('season == 1').groupby(['speaker'])
m_group = s1.get_group('Michael')
m_s1_scenes_nums = m_group['scene'].unique()
m_s1_scene_group = m_group.groupby('scene')

for i in m_s1_scenes_nums:
    if(i == 1):
        data = '''{"encodingType": "UTF8","document": {"type": "PLAIN_TEXT","content": "''' + m_s1_scene_group.get_group(i).line_text.str.cat() + '''" }}'''
response = requests.post(url, data=data).json()
response['documentSentiment']['score']

0.2