In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import requests
import json
url = 'https://language.googleapis.com/v1/documents:analyzeSentiment?key=AIzaSyBZOq4GtwZgyTKxtYinzFW7Zg_mYRoXpl0'

In [13]:
df = pd.read_csv('../Data/the-office-lines - scripts.csv')
df.head()

,id,season,episode,scene,line_text,speaker,deleted
0,1,1,1,1,All right Jim. Your quarterlies look very good...,Michael,False
1,2,1,1,1,"Oh, I told you. I couldn't close it. So...",Jim,False
2,3,1,1,1,So you've come to the master for guidance? Is ...,Michael,False
3,4,1,1,1,"Actually, you called me in here, but yeah.",Jim,False
4,5,1,1,1,"All right. Well, let me show you how it's done.",Michael,False

In [25]:
def semanticScore(m_s1_scenes_nums, m_s1_scene_group):
    m_score = 0
    for i in m_s1_scenes_nums:
        data = '''{"encodingType": "UTF8","document": {"type": "PLAIN_TEXT","content": "''' + m_s1_scene_group.get_group(i).line_text.str.cat() + '''" }}'''
        response = requests.post(url, data=data).json()
        m_score += response['documentSentiment']['score']
    # response['documentSentiment']['score']
    print("Total Score:", m_score)
    return m_score

In [26]:
s1 = df.query('season == 1').groupby(['speaker'])
m_group = s1.get_group('Michael')
m_s1_scenes_nums = m_group['scene'].unique()
m_s1_scene_group = m_group.groupby('scene')

semanticScore(m_s1_scenes_nums, m_s1_scene_group)

m_group = s1.get_group('Jim')
m_s1_scenes_nums = m_group['scene'].unique()
m_s1_scene_group = m_group.groupby('scene')

semanticScore(m_s1_scenes_nums, m_s1_scene_group)

m_group = s1.get_group('Dwight')
m_s1_scenes_nums = m_group['scene'].unique()
m_s1_scene_group = m_group.groupby('scene')

semanticScore(m_s1_scenes_nums, m_s1_scene_group)

m_group = s1.get_group('Pam')
m_s1_scenes_nums = m_group['scene'].unique()
m_s1_scene_group = m_group.groupby('scene')

semanticScore(m_s1_scenes_nums, m_s1_scene_group)

m_group = s1.get_group('Ryan')
m_s1_scenes_nums = m_group['scene'].unique()
m_s1_scene_group = m_group.groupby('scene')

semanticScore(m_s1_scenes_nums, m_s1_scene_group)

Total Score: 3.700000000000001
Total Score: 2.7999999999999994
Total Score: 1.6000000000000005
Total Score: -3.8999999999999995
Total Score: 1.8

1.8

Total Score: 3.700000000000001

In [16]:
]

0.2